body {
    color: #30302F;
    background-color: #E9E6E1;
    font-family: 'Poppins', sans-serif;
}

.home, .about {
    background-color: #C9C3BD;
}

.design {
    background-color: #E9E6E1;
}

.navbar {
    background-color: transparent;
}

.navbar img {
    display: block;
}

/* .subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
} */

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 40%;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

@media (max-width: 550px) {
    .swiper-slide {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .subject {
       font-size: 7vw;
    }
}