body{
    background-image:url("assets/bg.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    

}

h3{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}

#days{
    background-color: rgb(210, 188, 160);
    font-family: Georgia, 'Times New Roman', Times, serif
}

button:hover #time{
    font-size: 1.3em;
    font-weight: bolder;
}

button{
    background-color: rgb(236, 219, 180);
    border-radius: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

