* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html, body {
    background-color: #0886C0;
    color: #fffcf9;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    position: relative;
    background: linear-gradient(180deg, #0886C0, #07618b 31%, #066b9a 41%, #055074 56%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-bg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 15px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 80%;
    padding: 2em;
    margin-top: 100px;
    overflow: hidden;
}

.header {
    user-select: none;
    padding-top: 100px;
    padding-bottom: 100px;
}

h5, h1, h3 {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
}

.card {
    text-align: center;
}

.undersea {
	position: absolute;
    opacity: 1;
}

#shadow {
    top: 0;
    width: 100%;
}


#sea1 {
    top: 10%;
    left: 1%;
    width: 20%;
}

#sea2 {
    top: 16%;
    right: 1%;
    width: 10%;
}

#sea3 {
    top: 40%;
    left: 0;
    width: 12%;
}

#sea4 {
    top: 50%;
    right: 0;
    width: 12%;
}

#sea5 {
    top: 70%;
    left: 1%;
    width: 10%;
}

#sea6 {
    top: 75%;
    right: 2%;
    width: 6%;
}

#sea7 {
    top: 90%;
    right: 70%;
    width: 10%;
}

#sea8 {
    bottom: 0;
    left: 55%;
    width: 10%;
    z-index: 100;
}

.seabed {
	position: absolute;
	opacity: 0.8;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 1;
}

.card {
	background-color: transparent;
	border: none;
	margin: 0 auto;
}

a {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #063243;
    color: #fffcf9;
    text-align: center;
    line-height: 50px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
}

a:hover {
	color: #fffcf9;
}

body {
    overflow-x: hidden;
}
.btnProjects, a {
    box-sizing: border-box;
    background-color: rgb(32, 32, 32);
    color: white;
    font-weight: bold;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

.btnProjects:hover {
    background-color: #282626;
    color: #d9dac8;
}

@media (max-width: 500px) {
    h5 {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .btnProjects {
        width: 60%;
        font-size: 0.8rem;
    }
    .img-fluid {
        width: 70%;
    }
}
