body {
    background-color: #315A39;
    scrollbar-color: #7A9F79;   
}

.cardReceipt {
    height: 96vh;
    font-family: 'Cutive Mono', sans-serif;
    background-color: #7A9F79;
}

.mainContainer {
    height: 75dvh;
    overflow-x: auto;
    background-color: #7A9F79;
}

.categoryContainer {
    height: 18dvh;
    overflow-y: auto;
    background-color: #7A9F79;
}

.categoryImg {
    width: 40px;
}

.categoryCard.card, .plantCard.card {
    border: 2px solid #315A39;
    background-color: #e0f7df;
}

.categories {
    width: fit-content;
}

.categoryCard {
    min-width: 150px;
    max-width: 150px;
    display: flex;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
    color: #11411b;
}

.categoryCard.card:hover {
    background-color: #c1f2bf;
    cursor: pointer;
}

.category {
    font-weight: 500;
}

.logo {
    margin: auto;
}

.plantImg {
    margin-top: 10px;
    width: 150px;
    min-height: 180px;
    max-height: 180px;
}

.plantCard {
    min-width: 180px;
    max-width: 180px;
    cursor: pointer;
    color: #11411b;
    font-family: 'Fjalla One', sans-serif; 
}

.receipt {
    flex: 1;
    overflow-y: auto;
    background-color: #e0f7df;
    border: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.valueContainer, .ty {
    background-color: #e0f7df;
    border: none;
}

.valueText {
    font-size: 2vw;
}

.ty {
    margin-bottom: 40px;
}

.print, .back {
    border: none;
    background-color: #315A39;
    color: white;
    width: 100px;
    height: 60px;
    font-family: 'Fjalla One', sans-serif; 
}

.print:hover, .back:hover {
    background-color: #e0f7df;
    color: #11411b;
}

.value {
    color: #11411b;
}

.shopName {
    border-bottom: dotted;
}

.back {
    display: none;
}
