body {
    color: #d9dac8; 
    height: auto; 
    background: linear-gradient(50deg, #3f3b3b 0%, #201e1e 85%);
    font-family: 'Steamflix Montserrat', sans-serif;
}

.navbar {
    background-color: #282626;
    font-family: 'Steamflix Montserrat', sans-serif;
}

.nav-link {
    color: #FDFFCF;
}

.nav-link:hover {
    color: #FFDDFC;
    transform: scale(1.1);
}

.home-text {
    font-family: 'Steamflix Montserrat', sans-serif;
}

.projectsBtn {
    background-color:  #FFDDFC;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Steamflix Montserrat', sans-serif;
    width: 130px;
    display: hidden;
    border: none;
}

.projectsBtn:hover {
    background-color:  #FDFFCF;
    transform: scale(1.1);
}

.text-title {
    font-family: 'Steamflix Montserrat', sans-serif;
    font-size: 50px;
}

.container-text-info {
    color: #d9dac8;
    font-weight: normal;                                
}

.logo-container .img {
    width: 80px;
}

.thumbnail {
    position: relative; 
    overflow: hidden; 
}

.thumbnail-image {
    display: block;
    width: 100%; 
    height: auto; 
}

.thumbnail-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 221, 171, 0.7);
    color:  #201e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    opacity: 0; 
    transition: opacity 0.25s; 
}

.thumbnail:hover .thumbnail-overlay {
    opacity: 1; 
}

.thumbnail-title {
    font-size: 2em;
    font-weight: bold;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(244, 220, 179);
    margin-top: 45px;
}
