body {
    color: white;
    background-color: #0F103F;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: transparent;
    z-index: 10;
    margin-top: 3%;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.icons {
    color: white;
}

.navbar-brand:hover,
.icons:hover {
    color: #FFDDFC;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.navbar img {
    display: block;
}

.button {
    text-decoration: none;
    border: transparent;
    background-color: #6566a1;
    font-size: 2vw;
    color: white;
    width:  13vw;
    text-align: center;
}

.section-intro {
    position: relative;
    width: 100%;
}

.custom-bg {
    background: linear-gradient(135deg, rgba(230, 0, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    box-shadow: 20px 20px 40px rgba(58, 58, 58, 0.3);
    backdrop-filter: blur(10px);
    width: 80%;
    padding: 2em;
    margin-top: 100px;
    overflow: hidden;
}

.elements {
    position: absolute;
    z-index: 0;
}

#img1 {
    left: 0%;
    top: 0;
    width: 20%;
}

#img2 {
    margin-top: 70%;
    left: 0%;
    width: 20%;
}

#img3 {
    top: 0%;
    right: 0%;
    width: 70%;
}

#img5 {
    left: 0%;
    top: 0;
    width: 20%;
}

#img4 {
    margin-top: 100%;
    left: 60%;
    width:40%;
}

#gif {
    left: 0;
    top: 10%;
    width: 45%;

}

h1.text {
    position: relative;
    display: inline-block;
    font-size: 7vw;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 4%;
}

h1.error {
    position: relative;
    font-size: 7vw;
    font-family: 'Funkie Retro', sans-serif;
}

.goToSubjects {
    position: relative;
    display: inline-block;
    margin-left: 20%; 
}

.goBack {
    position: relative;
}

#section-contacts {
    position: relative;
    height: 100%;
    margin-bottom: 20%;
    font-size: 5vw;
    padding-top: 40vh;
    margin-top: 5vh;
}

#section-about {
    position: relative;
}

#section-about .container-text-info {
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 20px;
}

.container-text-info {
    text-align: left;
}

.myPic {
    display: block;
    margin: 0 auto;
}

#section-subjects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject {
    width: 37%;
}

a {
    color: transparent;
    background: transparent;
    text-decoration: none;
}

.btnSubjects.btn.btn-secondary {
    position: relative;
}

@media (max-width: 500px) {
    .navbar-brand {
        font-size: 10px;
        align-items: center;
    }

    .myPic {
        width: 300px;
    }

    #section-contacts {
        padding-top: 0vh;
        margin-top: 2vh;
        margin-top: 5vh;
    }

    #section-about {
        margin-top: 0%;
    }

    .subject {
        width: 100%;
    }

}

@media (max-width: 1100px) {

    #section-contacts {
        padding-top: 0vh;
        margin-top: 15vh;
    }

    #section-about {
        margin-top: 0%;
    }

    .subject {
        width: 45%;
    }
}

