body {
    color: #30302F;
    background-color: #E9E6E1;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: transparent;
}

.navbar-brand {
    color:#30302F;
    font-weight: bold;
    text-decoration: none;
}

.home, .about {
    background-color: #C9C3BD;
}

.design {
    background-color: #E9E6E1;
}

.navbar-brand:hover,
.icons:hover {
    color: #5d5144;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.navbar img {
    display: block;
}

.hello{
    font-size: 7vw;
    font-weight: bold;
}

.button-subjects {
    text-decoration: none;
    border: 5px solid #30302F;
    border-radius: 50px;
    background-color: transparent;
    font-size: 2vw;
    width:  15vw;
    text-align: center;
    transition: #A19487  0.3s ease-in-out;
}

h1.error {
    position: relative;
    font-size: 7vw;
    font-family: 'Funkie Retro', sans-serif;
}

h4.error2 {
    position: relative;
}

.button-back {
    position: relative;
    text-decoration: none;
    border: 5px solid #30302F;
    border-radius: 50px;
    background-color: transparent;
    font-size: 2vw;
    width:  15vw;
    transition: #A19487  0.3s ease-in-out;
}

.button-subjects:hover, .button-back:hover {
    transform: scale(1.1);
}

.myPic {
    display: block;
    margin: 0 auto;
}

#section-about .info {
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.5;
}

#section-subjects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.subject {
    border: #A19487;
    background-color: transparent;
    border: 8px solid #A19487;
    border-radius: 50px;
    width: 100%;
}

.card-title.subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 550px;
}

a {
    color: transparent;
    background: transparent;
    text-decoration: none;
}

.icons {
    color: #30302F;
    font-size: 5vw;
    font-weight: bold;
}

@media (max-width: 510px) {
    .button-back {
        width: 25vw;
        font-size: 3vw;
    }

    .myPic {
        width: 70%;
    }
}

@media (max-width: 550px) {
    .navbar-brand {
        font-size: 10px;
        align-items: center;
    }

    .button-subjects {
        width:  18vw;
        font-size: 3vw;
    }

    .navbar-brand {
        font-size: 3vw;
    }
}

@media (max-width: 766px) {
    .icons {
        color: #30302F;
        font-size: 8vw;
        font-weight: bold;
    }
}