body {
    background-color: #244C77;
    font-family: "Lato", sans-serif;
    overflow: hidden; 
    margin: 0;   
}

.container-landingPage {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.video {
    width: 100%;
}

.video video {
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    width: 100%; 
    z-index: 1000px;
}

.centered img {
    min-width: 50%;
    max-width: 80%;
    height: auto;
}
