body {
    background-color: black;
    color: whitesmoke;
    padding: 0 20%;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    box-sizing: border-box;
}
#logo {
    margin-top: 5%;
    height: 50px;
}

#apple {
    margin-top: 13%;
    margin-left: 15%;
}

.navbar {
    top: 0;
    left: 0;
    display: flex;
    width: 15%;
    justify-content: space-between;
    padding: 0px;
    color:whitesmoke;
}

header {
    position: relative;       
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 50vh;           
}

h1 {
    position: absolute;        
    top: 10px;               
    text-align: center;       
    margin: 0;              
}

.video {
    margin-top: 20%;
    margin-left: 10%;
    width: 70%; 
}

.video video {
    width: 100%;  
}           

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 5px ;
}

#infoTitle {
    font-size: 35px ;
    font-weight: bold;
}

.container-imgs {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 10%;
}

#keyboard {
    width: 50%;
}

#size-comparison, #camera {
    width: 50%;
}

.row {
    display: flex;
}
  
.column1, .column2, .column3, .column4, .column5, .column6 {
    flex: 50%;
    padding: 5%;
}

#title2 {
    font-size: 50px;
    font-weight: bold;
}

button {
    background-color: rgb(101, 137, 236);
    margin-left: 40%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 20%;
}
